/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Header Section */
.header {
  padding: 15px 0px;
  background-color: rgb(255, 185, 41);
  overflow: hidden;
  white-space: nowrap;
}

.headersticky {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
}

.unique-scroll-text {
  display: inline-block;
  padding-left: 100%;
  animation: scrollLeftToRight 40s linear infinite;
  font-weight: bold;
  color: #333;
}

@keyframes scrollLeftToRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.header h3 {
  font-family: sans-serif;
}

/* Section 2 */
#mainheader {
  width: 100%;
  background-color: rgb(228, 231, 231);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 33%;
  text-align: center;
}

.logo img {
  width: 150px;
}

.nav {
  width: 33%;
  text-align: left;
  padding-left: 20px;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: sans-serif;
  color: black;
  font-weight: 500;
  padding-right: 10px;
}

/* Button Section */
#buttons {
  width: 33%;
  font-family: sans-serif;
  font-size: 30px;
}

.btn3 {
  width: 100%;
  text-align: right;
}

.btn3 button {
  padding: 10px 20px;
  border: none;
  background-color: #ffb929;
  border-radius: 10px;
  transition: 0.9s;
  font-size: 20px;
  margin-right: 40px;
}

.btn3 button:hover {
  background-color: rgb(83, 230, 83);
  transition: 0.9s;
}

/* Section 3 */
.bgbanner {
  width: 100%;
  height: 731px;
  background-image: url(images/clothing.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.bgbannercenter {
  display: flex;
  align-items: center;
}

.bannercontent {
  padding: 20px;
}

.bannercontent h2 {
  font-size: 55px;
  font-weight: 500;
  font-family: sans-serif;
}

.bannercontent p {
  font-size: 30px;
  padding-top: 20px;
  font-family: sans-serif;
}

.bannercontent button {
  border: none;
  padding: 15px 30px;
  font-weight: 500;
  background-color: #ffb929;
  border-radius: 15px;
  margin-top: 20px;
  transition: 0.9s;
  font-size: 15px;
}

.customcolor {
  color: rgb(255, 185, 41);
  font-weight: 600;
}

/* Section 4 */
.categoriessection {
  padding: 80px 40px;
}

.customsubtitle {
  font-size: 30px;
  font-family: sans-serif;
  padding: 20px 0px;
}

.customtitle {
  font-size: 55px;
  font-weight: 500;
  font-family: sans-serif;
}

/* .categoriesimageparent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding-top: 80px;
} */
.categoriesimageparent {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
}

.categoriesimageparent img {
  transition-duration: 1s;
  width: 100%;
  object-fit: cover;
}

.western,
.eastern,
.accessories {
  overflow: hidden;
}

.western img:hover,
.eastern img:hover,
.accessories img:hover {
  transform: scale(1.3);
  transition-duration: 1s;
}

.accessoriesparent h2,
.easterncontent h2,
.westerncontent h2 {
  font-size: 30px;
  font-family: sans-serif;
  color: black;
}

.westernparent,
.easternparent,
.accessoriesparent {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
}

.westerncontent h2,
.easterncontent h2,
.accessoriescontent h2 {
  font-weight: 300;
  padding: 30px 20px;
}

.westernparent:hover .westerncontent h2 {
  color: rgb(255, 185, 41);
  transition-duration: 1s;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

/* Section 5 */
.cardsection {
  padding: 80px 40px;
}

.cardsection h2 {
  font-size: 55px;
  font-weight: 500;
  font-family: sans-serif;

}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0rem 2rem;
}

.cardsparent {

  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 30px;
  margin-top: 40px;
}

.cardimg img {
  width: 100%;
  height: 100%;

  border-radius: 10px;
}

.cardcontent h2 {
  display: flex;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 700;
  padding-top: 20px;
}

.cardcontent p {
  color: gray;
  padding-top: 20px;
}

.cardpadding {
  padding: 30px 30px;
}

.cardcontent h2 .fa {
  padding-left: 40px;
}

.cardcontent button {
  margin: auto;
  width: 100%;
  padding: 10px 20px;
  background-color: #ffb929;
  border-radius: 10px;
  transition: 0.9s;
  font-size: 20px;
  margin-top: 20px;
}

.BannerImg {
  width: 100%;
  height: 100%;
}

.footer-parent {
  background-color: black;
}

.footer {
  text-align: center;

}

.logo-footer {
  width: 150px;
  margin: auto
}

.social-icons i {
  margin: 20px 0px;
  padding: 20px;
  border: 1px solid white;
  background-color: black;
  color: #ffb929;
  font-size: 20px;
  border-radius: 100%;
  transition-duration: 1s;

}

.social-icons i:hover {
  background-color: #ffb929;
  color: black;
  transition-duration: 1s;
}

.footer-parent {
  padding: 80px 0px;
}

.footerlower p {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

.footerlower {
  font-size: 17px;
}

.top-to-bottom a {
  background-color: black;
  color: azure;
  width: 60px;
  border-radius: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 19px;
  border: 1px solid white;
  margin-bottom: 33px;
}

.bgheadermob {
  display: none;
}

/* .......................media querry.................. */

/* section 2 banner 1 */
@media only screen and (max-width: 1300px) and (min-width: 849px) {
  .bannercontent h2 {
    font-size: 50px;
  }

  .bannercontent p {
    font-size: 20px;
  }

  /* section 3 western eastern accessories  */
  .customtitle {
    font-size: 52px;
    font-weight: 500;
    font-family: sans-serif;
  }

  .categoriesimageparent {
    display: block;
  }

  .categoriesimageparent img {
    transition-duration: 1s;
    width: -webkit-fill-available;
  }

  .accessoriesparent {
    margin-top: 40px;
  }

  .categoriessection {
    padding: 40px 40px;
  }

  .cardsection {
    padding: 42px 40px;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0rem 2rem;
  }

  /* sections 1 banner k nichy */
  .bgheadermob {
    display: none;
  }
}

@media only screen and (max-width: 848px) and (min-width: 320px) {

  /* .categoriesimageparent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
  } */
  .categoriesimageparent {
    display: block;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0rem 1rem;
  }

  .categoriessection {
    padding: 80px 40px;
  }

  .headersticky {
    display: none
  }

  #mainheader {
    width: 100%;
    background-color: rgb(228, 231, 231);
    display: none;
    justify-content: center;
    align-items: center;
  }

  .bgbannercenter {
    display: flex;
    align-items: end;
  }

  .bannercontent h2 {
    font-size: 49px;
    font-weight: 500;
    color: white;
  }

  .bannercontent p {
    font-size: 18px;
    color: white;
  }

  .customtitle {
    font-size: 23px;
  }

  .customsubtitle {
    font-size: 18px;
  }

  .categoriesimageparent {
    padding-top: 38px;
  }

  .cardsection h2 {
    font-size: 23px;
  }

  .cardsection h2 {
    font-size: 20px;
  }

  .cardsection {
    padding: 40px 25px;
  }

  .cardsection h2 {

    font-size: 20px;
  }

  .mainbariheading {
    font-size: 30px !important;
  }

  .bgheadermob {
    width: 100%;
    background-color: rgb(228, 231, 231);

  }

  .disheadermob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
  }

  .logomob {
    width: 50%;
  }

  .logomob img {
    width: 150px;
  }

  .navcenter {
    width: 50%;
    text-align: end;
  }

  .navcenter .fa {
    font-size: 25px;
  }

  .menubox {
    width: 100%;
    position: absolute;
    padding: 20px 0px;
    background-color: rgb(228, 231, 231);
    left: 0;
    margin-top: 30px;
    display: none;
  }

  .bgheadermob {
    display: block;
  }

  .menuitem {
    padding: 20px 20px;
    text-align: left;
  }

  #navicon:hover .menubox {
    display: block;

  }

  .accessoriesparent h2,
  .easterncontent h2,
  .westerncontent h2 {
    font-size: 25px;
  }

  .westerncontent {
    margin-bottom: 20px;
  }

  .easterncontent {
    margin-bottom: 20px;

  }
}

/* /.............................about css  page................................................................ */
.bannerabout {
  width: 100%;
}

.bgbannerabout {
  background-image: url(images/Untitled\ design\ \(16\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.banneraboutcontent {
  font-size: 70px;
  padding-left: 20px;
  color: white;
}
/* why choose */
.whychoose {
  width: 100%;
  padding: 40px 0px;
}

.paddingleft {
  margin: 40px 50px;
  background-color: white;
}

.aboutush2pleft {
  padding-top: 80px;
}

.aboutush2pleft h2 {
  font-size: 40px;
  text-align: center;
}

.aboutush2pleft p {
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
  color: gray;
}

/* Linear-gradient(rgba(207, 214, 207, 0.9),rgba(175, 180, 82, 0.7),rgba(23, 24, 23, 0.9)),url(images/Untitled\ design\ \(16\).png); */


/* why choose do box ko display flex */

.whychooseflex {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.whychooseparentbox1 {
  width: 50%;
 
}

/* 1box  */
.whychooseparentbox1flex {
  padding: 50px 10px;
  display: flex;
  justify-content: space-around;
}

.childbox1 {
  width: 50%;
  border-radius: 10px;
  padding: 20px 20px;
  background-color: black;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: white;
}
.childbox1:hover{
  background-color: rgb(250, 249, 229);
  color: black;
}
.childbox1:hover h3{
  background-color: rgb(250, 249, 229);
  color: black;
}
.childbox1:hover p{
  background-color: rgb(250, 249, 229);
  color: black;
}
.childbox1 h1 {
  font-size: 60px;
  font-weight: 700;
}

.childbox1 h3 {
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0px;


}

.childbox1 p {
  font-size: 20px;
  color:white;
}
.childbox1 :hover {
color: black;
}

/* child 2 content  */
.childbox2 {
  width: 50%;
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px 20px;
  background-color:  rgb(250, 249, 229);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.childbox2:hover p{
  background-color: black;
  color: white;

}
.childbox2:hover{
  background-color: black;
  color: white;

}
.childbox2:hover h3{
  background-color: black;
  color: white;

}


.childbox2 h1 {
  font-size: 60px;
  font-weight: 700;
}

.childbox2 h3 {
  font-size: 30px;
  font-weight: 600px;
  padding: 20px 0px;
}

.childbox2 p {
  font-size: 20px;
  color: black;
}
.childbox2 p:hover{
  color: white;
}
.childbox3{
  margin-left: 0px;
  margin-right: 20px;
}
.childbox4{
  /* margin-left:20px ; */
}
/* .box34 {
  margin-top: 0px;
} */

/* 2nd box images */
.whychooseparentbox2 {
  width: 50%;
}

.aboutimages {
  /* margin-left: 60px; */
  width: 100%;
  text-align: center;
  margin: auto;
}

.aboutimg1 {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.aboutimgsection {
  display: flex;
  justify-content: center;
  align-items: center;

}

.specificimg1 {
  width: 100%;
  height: 300px;
}

.aboutimg1 {
  width: 100%;
  border-radius: 20px;
}

.blockbox1 {
  padding: 0px 10px;
  margin-top: 80px;
}

.blockbox2 {
  padding: 0px 10px;
}


/*  .......................textcard section 5................... */
.textcard {
  width: 100%;
  text-align: center;
  background: linear-gradient(rgba(12, 6, 6, 0.9),rgba(12, 6, 6, 0.9),rgba(12, 6, 6, 0.9),rgba(69, 57, 18, 0.9));
}

.centerthreetextcard {
  padding: 80px 20px;
  color: white;
}

.centerthreetextcard h2 {
  font-size: 50px;
}

.centerthreetextcard p {
  font-size: 20px;
  padding-top: 20px;
}

/* 3card */
.cards3cardscenter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.textcardthree {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.textcardbox1 {
  border: 1px solid gray;
  border-radius: 10px;
  background-color: #0d0606;
  color: white;
  padding: 30px 30px;
  margin: 0px 20px;
}
.textcardbox1{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.textcardbox1 .fa{
  font-size: 30px;
  padding: 10px;
  background-color: black;
  color: #ffb929;
  border-radius: 13px;
  border: 1px solid white;
}

.textcardbox1 h2 {
  font-size: 35px;
  padding-top: 20px;
}
.textcardbox1 p{
  font-size: 20px;
  padding-top: 20px;
}
/* .............................section bannnr................ */
.bannersecondservices{
  width: 100%;
  /* padding: 80px 0px; */
}
.bgbannersecond{
  background-image: url(images/free\ Delivery\ \(1\).png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 901px;
  width: 100%;
}















/*.........................section6.........................................................*/
.section6{
  width: 100%;
}
.sectionpadding{
  margin-top: 20px;
  padding: 140px 140px;
  background-color: white;
}
.sectionflex{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
 background-color: white;
 border-radius: 30px
}

.sectionbox1{
  width: 50%;
/* main box */
padding-top: 70px;
}

.sectionheading h2{
font-size: 40px;
font-weight: 500;
}
.sectionheading p{
font-size: 20px;
padding: 30px 0px;
}
.mainboxflex{
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid #ffb929; */

}
.sbox1content{
/* smallbox1 */
text-align: center;
width: 50%;
background-color: black;
color: white;
margin: 20px 10px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
border-radius: 10px;
/* position: relative; */
}
/* .sbox1content::after{
  content: ' ';
  height: 100px;
  width: 2px;
  position: absolute;
 
  color: black;
}  */
.sbox1content .fa{
  font-size: 30px;
  padding: 10px;
  background-color: black;
  color: #ffb929;
  border-radius: 13px;
  border: 1px solid white;
}
.sbox1content h2{
font-size: 30px;
font-weight: 600;
padding: 30px 0px;
}
.sbox1content p{
font-size: 20px;
padding-bottom: 30px;
}
.sbox2content{
  width: 50%;
  text-align: center;
  background-color: black;
  color: white;
  margin: 20px 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  /* padding: 30px 30px; */
/* smallbox1 */


}
.sbox2content .fa{
  font-size: 30px;
    padding: 10px;
    background-color: black;
    color: #ffb929;
    border-radius: 13px;
    border: 1px solid white;
}
.sbox2content h2{
  font-size: 30px;
  font-weight: 600;
  padding: 30px 0px;
}
.sbox2content p{
  font-size: 20px;
  padding-bottom: 30px;
}
.lastparaindiv p{
  padding:30px 0px ;

  font-size: 20px;
  color: rgb(75, 72, 72);

}
/* .bgcolorupdate1{
  background-color: antiquewhite;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 10px 10px;
}
.bgcolorupdate{
  background-color: antiquewhite;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 10px 10px;

} */
/*..................section 2 img...........*/
.imgboxcenter{
  width: 50%;
/* mainbox */
text-align: center;
margin: auto;
}
.imgboxcenter img{
  width: 80%;
  border-radius: 20px;
  height: 731px;
}
/* .........................section quote box///////////////// */
.bgcolor{
  background-color: black;
padding: 50px 0px;
margin-top: 100px;
}
.quotebox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quoteboxcenter{
  width: 70%;
  background-color: #0d0606;
  color: white;
  border-radius: 20px;
}
.quoteboxcenter{
  /* box-shadow:  rgba(149, 157, 165, 0.2) 0px 8px 24px ; */
  box-shadow: -10px 10px 70px 0 yellow;
  margin-top: -150px;
}
.quotespcearound{
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
}
.quotepara h2{
  font-size: 30px;
  font-weight: 600;
}
.quotepara p{
  padding-top: 20px;
font-size: 20px;
}
.quotepara{
  width: 50%;
 
}

.quotebtn button{
  padding: 15px 20px ;
  font-size: 20px;
  font-weight: 600;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.endbtn{
  width: 50%;

  display: flex;
  justify-content: end; 
  align-items: center;
}
/*....................................media querry of about us page.....................................*/
@media only screen and (max-width: 1248px) and (min-width: 700px){
  .whychooseflex{
   flex-wrap: wrap;
  }
  .whychooseparentbox1 {
    width: 100%;
  }
  .whychooseparentbox2 {
    width: 100%;
}
/* section2 */
.textcardthree {
  flex-wrap: wrap;
}
.centerthreetextcard {
  padding: 80px 30px;
}
.centerthreetextcard h2 {
  font-size: 40px;
}
.textcardbox1{
  margin: 0px  0px;
    margin: 20px 0px;
}
/* section3 */
.sectionpadding {
  padding: 0px 0px;
  padding: 20px 20px;
 }
 .sectionflex{
  flex-wrap: wrap;
  padding-left: 0px
 }
 .sectionbox1 {
  width: 100%;
 }
 .sectionheading{
  text-align: center;

 }
 .imgboxcenter{
  width: 100%;
  margin-bottom: 40px
 }
 /* .imgboxcenter img {
  width: 80%;
  
} */
.quoteboxcenter {
  width: 90%;
}
/* banner height */
.bgbanner {
  height: 306px;
}
}
/* ............................................second media query */
@media only screen and (max-width: 700px) and (min-width: 320px){
  /* sectionbox1  ya 3step jo ha ya phly vali ha*/
  .whychooseflex{
    flex-wrap: wrap;
   }
   .whychooseparentbox1 {
     width: 100%;
   }
   .whychooseparentbox2 {
     width: 100%;
 }


 /* sec time media querry  */
 .aboutush2pleft{
  padding-bottom: 50px;
  padding-top: 0px;
 }
  .whychooseparentbox1flex {
 flex-wrap: wrap;
 padding: 0px 0px;
  }
  .childbox1 {
     width: 100%;
    }
    .childbox2 {
      width: 100%;
      margin-left: 0px;
      margin: 20px 0px
    }
    .childbox3 {
      margin-left: 0px;
      margin-right: 0px;
  }
  /* images opr nichy vali ak column wise */
  .aboutimgsection{
    flex-wrap: wrap;
  }
  .aboutimg1 {
    padding-left: 0px; 
     padding-right: 0px;
    }


    /* .................................section 2........................... */
    /* .......................phly wo add kr rhi hon section ki query */
    .textcardthree {
      flex-wrap: wrap;
    }
    .centerthreetextcard {
      padding: 80px 30px;
    }
    .centerthreetextcard h2 {
      font-size: 40px;
    }
    .textcardbox1{
      margin: 0px  0px;
        margin: 20px 0px;
    }
    /* .......................................now start second screen media querry.................. */
    .centerthreetextcard h2 {
      font-size: 30px;
  }
  .centerthreetextcard {
    padding: 70px 50px;
}
.textcardthree{
  width: 90%;
}
.bgbannersecond{
  height: 467px;
}



/* ....................................section3 ... first media querry ..................... */
.sectionpadding {
  padding: 0px 0px;
  padding: 20px 20px;
 }
 .sectionflex{
  flex-wrap: wrap;
  padding-left: 0px
 }
 .sectionbox1 {
  width: 100%;
 }
 .sectionheading{
  text-align: center;

 }
 .imgboxcenter{
  width: 100%;
  margin-bottom: 40px
 }
 /* .........................................now start second time media querry for sec screen */
 
 .sectionheading h2 {
  font-size: 30px;
}
.mainboxflex {
  flex-wrap: wrap;
}
.sbox1content{
  width: 100%;
}
.sbox2content {
  width: 100%;
}
.imgboxcenter img {
  width: 100%;
  height: 470px;
}
/* ..........................quote para......................... */
.quotespcearound {
  flex-wrap: wrap;
  text-align: center;
  padding: 40px 20px;
}
.quotepara{
  width: 100%;
}
.endbtn {
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.quotebtn{
  margin-top: 20px;
}
/* .....................................................firstbanner .................... */
.banneraboutcontent {
  font-size: 40px;
}
}